<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eusoff Web Service</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/skel.min.js"></script>
	<script src="../static/js/skel-layers.min.js"></script>
	<script src="../static/js/init.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header">
		<h1><a href="index.html">Euosff Web Service</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="generic.html">Admin</a></li>
				<li><a href="elements.html">Services</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<h2>Hi. This is Eusoff Web Service.</h2>
		<p></p>
		<ul class="actions">
			<li>
				<a href="#" class="button big">Login</a>
			</li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Quick Portals</h2>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color1 fa-soccer-ball-o"></i>
						<h3>Sports</h3>
						<p>View latest publications, SMC newsletters and more.</p>
					</section>
				</div>
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color9 fa-pencil"></i>
						<h3>Administrative</h3>
						<p>View official schedule, vote for JCRC, view hall points.</p>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color6 fa-desktop"></i>
						<h3>Request for IT services</h3>
						<p>View the services we provide, request a custom service.</p>
					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Join Hackers</h2>
				<h3>We are looking for...</h3>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color1 fa-gears"></i>
						<h3>Tony Stark</h3>
						<p>Create the coolest gadget and robots</p>
					</section>
				</div>
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color9 fa-code"></i>
						<h3>Neo</h3>
						<p>Hack</p>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color6 fa-money"></i>
						<h3>Steve Jobs</h3>
						<p>Help market and sell our products to Temasek</p>
					</section>
				</div>
			</div>
		</div>
		<footer>
			<ul class="actions">
				<li>
					<a href="#" class="button big">I am what you are looking for</a>
				</li>
			</ul>
		</footer>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Submit a feedback</h2>
			</header>
		</div>
		<div class="container 50%">
			<form action="#" method="post">
				<div class="row uniform">
					<div class="6u 12u$(small)">
						<input name="name" id="name" value="" placeholder="Name" type="text">
					</div>
					<div class="6u$ 12u$(small)">
						<input name="email" id="email" value="" placeholder="Email" type="email">
					</div>
					<div class="12u$">
						<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input value="Send" class="special big" type="submit"></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<section class="links">
				<div class="row">
					<!-- <section class="3u 6u(medium) 12u$(small)">
						<h3>Find us on</h3>
						<ul class="unstyled">
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Github</a></li>
						</ul>
					</section> -->
				</div>
			</section>
			<div class="row">
				<div class="8u 12u$(medium)">
					<ul class="copyright">
						<li>&copy; Eusoffhackers. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
				<div class="4u$ 12u$(medium)">
					<ul class="icons">
						<li>
							<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
						</li>
						<li>
							<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
						</li>
						<li>
							<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
						</li>
						<li>
							<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>